body{
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f9fa!important

}

*{
  margin:0;
  padding:0;
}


img{
  border-radius: 40px;
}


nav {
  position: fixed;
}

h1, h2, h3, h4, h5, h6 {  
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.menu{
  width: 100%;
  height: 50px;
  background-color: #1994d7;
  font-family:'Arial';
}

.menu ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  width: 150px;
  float: left;

}

.menu a {
  padding: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #1994d7;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;

}

.menu ul ul {
  position: absolute;
  visibility: hidden;
}

.menu ul  li:hover ul{
  visibility: visible;
}

.menu a:hover{
  background-color: #f4f4f4;
  color: #555;
}

.menu ul ul li{
  float: none;
  border-bottom: solid 1px #ccc;
}

.menu ul ul li a{
  background-color: #1994d7;
}

label[for="bt_menu"]{
  padding: 5px;
  background-color: #1994d7;
  color: #fff;
  font-family: "Arial";
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
#bt_menu{
  display: none;
}

label[for="bt_menu"]{
  display: none;
  position: fixed;
}

@media(max-width: 800px){
label[for="bt_menu"]{
  display: block;
}

#bt_menu:checked ~ .menu{
  margin-left: 0;
}

.menu{
  margin-top: 5px;
  margin-left:  -100%;
  transition: all .4s;
}


.menu ul li{
  width: 100%;
  float: none;
}
.menu ul ul {
  position: static;
  overflow: hidden;
  max-height: 0;
  transition: all .4s;
}
.menu ul li:hover ul{
  height: auto;
  max-height: 200px;

}

}



/* -------------------------------------------------------------------------*/








.container{
   text-align: center;
   margin: 0 auto;
   max-width: 1110px;
   position: static;
 }


 .nv-container{
  text-align: center;
  padding-top: 200px;
  max-width: 1000px;
  margin: 0 auto;
  position: static;
}


/* -------------------------------------------------------------------------*/


.recreacao h1{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Segoe UI',sans-serif;
  font-size: 50px;

}


.recreacao h2{
  margin: 30px 0;
  font-family: 'Segoe UI',sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #6c757d;
}
.recreacao img{
  width: 100%;
  height: 350px;
}

.recreacao p{
  margin: 30px 0;
  font-family: 'Segoe UI',sans-serif;
  font-style: italic;
}



.recreacao-sobre{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    padding-bottom: 40px;
    max-width: 400px;
    width: 100%;
    height: auto;
}
.recreacao-sobre h2{
  margin: 20px auto;
}

.recreacao-sobre p{
    color: #6c757d;
    font-family:'Segoe UI',sans-serif;
    margin: 20px auto;

}


















/* -------------------------------------------------------------------------- */







footer {

    background-color: #1994d7;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative;
    top: 10px;
    left:0;
    border-radius: 3px;

}

footer p{
  padding-top: 5px;
 
}




.footer-r{

width: 140px;
float: left;
margin-top: 20px;
font-weight: bold;
}

.footer-r a{
  display: inline-block;
}

.social a {

   height: 55px;
   width: 55px;

   text-indent: -9999px;
   margin-top: 5px;
   margin-left: 8px;
 }

.social li{
    display: inline;
}

.footer-l{
width: 140px;
float: right;
margin-top: 20px;
font-weight: bold;
}

.footer-l a{
  display: inline-block;
}

.texto-footer p{
  margin-top: 20px;
}

.social a[href*="youtube.com"] {
    background-image: url(../img/youtube-icon1.png);
    background-repeat: no-repeat;
}


.social a[href*="disneyparks.disney.go.com"] {
    background-image: url(../img/blog-icon1.png);
    background-repeat: no-repeat;
}


.social a[href*="facebook.com"] {
    background-image: url(../img/facebook-icon1.png);
    background-repeat: no-repeat;
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter-icon1.png);
    background-repeat: no-repeat;
}

